
/* facilities-page */
.facilities{
    padding: 50px;
    
}
#grad {
    background-image: linear-gradient(to bottom, white, pink);
  }
.heading{
padding-bottom: 30px;
}
.facilities-content{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icons{
    width: 150px;
    padding: 20px;
    transition: width 2s, height 2s, transform 1.5s;
}
.icons:hover{
    transform: rotate(360deg);
}
.icon-box{
    width: 300px;
    overflow: hidden;
    padding: 2px;
}
.icon-content{
    font-size: 1.2rem;
    color: maroon;
}
/* end facilities */

/* Call to action */
.action-form{
    display: flex;
    flex-direction: row;
}
.form{
    width: 50%;
}
.action{
    width: 50%;
    padding: 0px 20px 0px 20px;
    text-align: center;
    align-self: center;
}
.action-card{
    /* width: 90%; */
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.p-action{
    font-size: 1.3rem;
    color: gray;
}
/* end call to action */
/* tamplet */
.tamplet{
    background-color: #dd9933;
    height: 200px;
}
.tamplet-content{
    font-size: 3rem;
    width:70%;
    padding-top: 50px;
    align-self: center;
}
.tamplet-button{
    width: 30%;
    padding-top: 50px;
    text-align: center;
    align-self: center;
}
.con{
    text-align: center;
}
@media screen and (max-width:1024px){
    .p-action{
        font-size: 1.1rem;
    }
    .tamplet-content{
        font-size: 2.2rem;
        width:70%;
        padding-top: 60px;
        align-self: center;
    }
    .tamplet-button{
        width: 30%;
        padding-top: 60px;
        text-align: center;
        align-self: center;
    }
}   

@media screen and (max-width:768px){
        /* facilities */
    .facilities-content{
        padding-top: 10px;
        display: flex;
     flex-direction: row;
        justify-content: center;
    }
    .icon-box{
        width: 200px;
        overflow: hidden;
        padding: 2px;
    }
    .icons{
        width: 100px;
        padding: 20px;
    }
    .icon-content{
        font-size: 1rem;
        color: maroon;
    }
        /*end facilities */
.p-action{
    font-size: 1rem;
}
.action{
    width: 50%;
    padding: 0px 15px 0px 15px;
    text-align: center;
    align-self: center;
}
/* tamplet */
.tamplet-content{
    font-size: 2rem;
    width:70%;
    padding-top: 50px;
    align-self: center;
}
.tamplet-button{
    width: 30%;
    padding-top: 50px;
    text-align: center;
    align-self: center;
}
}
@media screen and (max-width:426px){
        /* facilities */
    .facilities-content{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .icon-box{
        width: 200px;
        overflow: hidden;
        padding: 2px;
    }
    .icons{
        width: 100px;
        padding: 20px;
    }
    .icon-content{
        font-size: 1rem;
        color: maroon;
    }
        /* end facilities */
/* Call to action */
.action-form{
    display: flex;
    flex-direction: column;
}
.form{
    width: 100%;
}
.action{
    width: 100%;
    padding: 30px 5px 0px 5px;

}
/* end call to action */
/* tamplet */
.tamplet-content{
    font-size: 2rem;
    width:100%;
    padding-top: 10px;
    align-self: center;
    text-align: center;
}
.tamplet-button{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    align-self: center;
}
}
@media screen and (max-width:375px){
        /* facilities */
    .facilities-content{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .icon-box{
        width: 160px;
        overflow: hidden;
        padding: 2px;
    }
    .icons{
        width: 100px;
        padding: 20px;
    }
    .icon-content{
        font-size: 1rem;
        color: maroon;
    }
        /*end facilities */
/* tamplet */
.tamplet-content{
    font-size: 1.6rem;
    width:100%;
    padding-top: 15px;
    align-self: center;
    text-align: center;
}
.tamplet-button{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    align-self: center;
}
}
@media screen and (max-width:320px){
        /* facilities */
    .facilities-content{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .icon-box{
        width: 145px;
        overflow: hidden;
        padding: 2px;
    }
    .icons{
        width: 100px;
        padding: 20px;
    }
    .icon-content{
        font-size: 1rem;
        color: maroon;
    }
        /*end facilities */

}
